In [19]:
import pandas as pd
import os
from datetime import datetime

In [20]:
# Set the folder path
path=r"E:\Python_Tutorials\Assignment_6"
# Place the excel file path 
file="octombrie.xlsx"
# Read the excel file
df=pd.read_excel(os.path.join(path,file)) # Skip the first five rows
df.head()

,Sequence,Date and time,Event message,Event number,Object #1,Description #1,Object #2,Description #2,Object #3,Description #3,Object #4,Description #4,Card number
0,1,2017-10-01 06:54:08,Access - door opened,201,12,01 - 01 - TBD IN,5,Marius Fasie,0,NaN,0,NaN,2F:42369
1,2,2017-10-01 08:37:12,Access - door opened,201,12,02 - 01 - TBD OUT,5,Marius Fasie,0,NaN,0,NaN,2F:42369
2,3,2017-10-01 08:43:36,Access - door opened,201,12,01 - 01 - TBD IN,5,Marius Fasie,0,NaN,0,NaN,2F:42369
3,4,2017-10-01 09:46:32,Access - door opened,201,12,02 - 01 - TBD OUT,5,Marius Fasie,0,NaN,0,NaN,2F:42369
4,5,2017-10-01 09:47:04,Access - door opened,201,12,01 - 01 - TBD IN,5,Marius Fasie,0,NaN,0,NaN,2F:42369

In [21]:
# Select working columns including Date and Time, Description # 1 and Description # 2
df=df.loc[:,["Date and time","Description #1","Description #2"]]
df.head()
# Rename columns
df.rename(columns={"Date and time":"Date_Time","Description #1":"Room","Description #2":"Employee"},inplace=True)
df.head()

            Date_Time               Room      Employee
0 2017-10-01 06:54:08   01 - 01 - TBD IN  Marius Fasie
1 2017-10-01 08:37:12  02 - 01 - TBD OUT  Marius Fasie
2 2017-10-01 08:43:36   01 - 01 - TBD IN  Marius Fasie
3 2017-10-01 09:46:32  02 - 01 - TBD OUT  Marius Fasie
4 2017-10-01 09:47:04   01 - 01 - TBD IN  Marius Fasie

In [22]:
df[["Num1","Num2","Activity"]]=df.Room.str.split("-",expand=True)

In [26]:
df=df.iloc[:,[0,2,5]]
df.head()

            Date_Time      Employee  Activity
0 2017-10-01 06:54:08  Marius Fasie    TBD IN
1 2017-10-01 08:37:12  Marius Fasie   TBD OUT
2 2017-10-01 08:43:36  Marius Fasie    TBD IN
3 2017-10-01 09:46:32  Marius Fasie   TBD OUT
4 2017-10-01 09:47:04  Marius Fasie    TBD IN

In [58]:
df=df.drop_duplicates()

df=df.sort_values("Date_Time")
# Reset index 
df=df.reset_index(drop=True) # Reset index to start at 0

df1=df
df1.head()

            Date_Time      Employee  Activity        Date
0 2017-10-01 06:54:08  Marius Fasie    TBD IN  2017-10-01
1 2017-10-01 08:37:12  Marius Fasie   TBD OUT  2017-10-01
2 2017-10-01 08:43:36  Marius Fasie    TBD IN  2017-10-01
3 2017-10-01 09:46:32  Marius Fasie   TBD OUT  2017-10-01
4 2017-10-01 09:47:04  Marius Fasie    TBD IN  2017-10-01

In [48]:
df1.dtypes

Date_Time    datetime64[ns]
Employee             object
Activity             object
dtype: object

In [42]:
len(df)

4930

In [49]:
df1['Date'] = [d.date() for d in df1['Date_Time']]

df1.head()

            Date_Time      Employee  Activity        Date
0 2017-10-01 06:54:08  Marius Fasie    TBD IN  2017-10-01
1 2017-10-01 08:37:12  Marius Fasie   TBD OUT  2017-10-01
2 2017-10-01 08:43:36  Marius Fasie    TBD IN  2017-10-01
3 2017-10-01 09:46:32  Marius Fasie   TBD OUT  2017-10-01
4 2017-10-01 09:47:04  Marius Fasie    TBD IN  2017-10-01

In [55]:
def working_hour(entry,exit):
    hours=round((exit-entry).seconds/3600,2)
    return hours

In [56]:
df_processed=df1

In [62]:
date_unique=sorted(df_processed.Date.unique())

employee_list=set(df1.Employee)

df1["Room"]=df1.Activity
df1.drop(columns=["Activity"], inplace=True)
df1.head()

            Date_Time      Employee        Date      Room
0 2017-10-01 06:54:08  Marius Fasie  2017-10-01    TBD IN
1 2017-10-01 08:37:12  Marius Fasie  2017-10-01   TBD OUT
2 2017-10-01 08:43:36  Marius Fasie  2017-10-01    TBD IN
3 2017-10-01 09:46:32  Marius Fasie  2017-10-01   TBD OUT
4 2017-10-01 09:47:04  Marius Fasie  2017-10-01    TBD IN

In [70]:
my_date=[]

for i in df1.Date:
    dt=datetime.strftime(i,"%Y-%m-%d")
    my_date.append(dt)
df1["Date"]=my_date
df1.head()

            Date_Time      Employee        Date      Room
0 2017-10-01 06:54:08  Marius Fasie  2017-10-01    TBD IN
1 2017-10-01 08:37:12  Marius Fasie  2017-10-01   TBD OUT
2 2017-10-01 08:43:36  Marius Fasie  2017-10-01    TBD IN
3 2017-10-01 09:46:32  Marius Fasie  2017-10-01   TBD OUT
4 2017-10-01 09:47:04  Marius Fasie  2017-10-01    TBD IN

In [74]:
date_unique=sorted(df_processed.Date.unique())

Final=[]

for x in df1.Employee.unique():
    if x in employee_list:
        ketqua={}
        for y in range(len(date_unique)):
            subset=df1.query("Employee=='{0}' & Date=='{1}'".format(x,date_unique[y]))
            subset.reset_index(drop=True,inplace=True)
            subset_date=subset.sort_values("Date_Time")
            for z in range(len(subset_date)):
                if z!=0:
                    if "OUT" in subset_date.Room[z]:
                        if "IN" in subset_date.Room[z-1]:
                            exit=subset_date.Room[z-1].replace("IN","OUT")
                            if subset_date.Room[z]==exit:
                                try:
                                    formula=working_hour(subset_date.Date_Time[z-1],subset_date.Date_Time[z])
                                    if date_unique[y] in ketqua:
                                        ketqua[date_unique[y]].append(formula)
                                    else:
                                        ketqua[date_unique[y]]=[formula]
                                except:
                                    pass
        for i in ketqua:
            Final.append([x,i,sum(ketqua[i])])

In [75]:
Final

[['Marius Fasie', datetime.date(2017, 10, 1), 4.9799999999999995],
 ['Marius Fasie', datetime.date(2017, 10, 2), 8.85],
 ['Marius Fasie', datetime.date(2017, 10, 3), 11.32],
 ['Marius Fasie', datetime.date(2017, 10, 4), 9.01],
 ['Marius Fasie', datetime.date(2017, 10, 5), 8.62],
 ['Marius Fasie', datetime.date(2017, 10, 6), 8.84],
 ['Marius Fasie', datetime.date(2017, 10, 7), 3.01],
 ['Marius Fasie', datetime.date(2017, 10, 9), 12.42],
 ['Marius Fasie', datetime.date(2017, 10, 10), 11.27],
 ['Marius Fasie', datetime.date(2017, 10, 11), 7.890000000000001],
 ['Marius Fasie', datetime.date(2017, 10, 12), 11.82],
 ['Marius Fasie', datetime.date(2017, 10, 13), 11.670000000000002],
 ['Marius Fasie', datetime.date(2017, 10, 14), 7.86],
 ['Marius Fasie', datetime.date(2017, 10, 15), 2.5],
 ['Marius Fasie', datetime.date(2017, 10, 16), 7.87],
 ['Marius Fasie', datetime.date(2017, 10, 17), 8.53],
 ['Marius Fasie', datetime.date(2017, 10, 18), 9.04],
 ['Marius Fasie', datetime.date(2017, 10, 19), 7.61],
 ['Marius Fasie', datetime.date(2017, 10, 20), 8.780000000000001],
 ['Marius Fasie', datetime.date(2017, 10, 21), 7.91],
 ['Marius Fasie', datetime.date(2017, 10, 22), 2.34],
 ['Marius Fasie', datetime.date(2017, 10, 23), 2.46],
 ['Marius Fasie', datetime.date(2017, 10, 24), 11.14],
 ['Marius Fasie', datetime.date(2017, 10, 25), 4.8500000000000005],
 ['Marius Fasie', datetime.date(2017, 10, 26), 8.780000000000001],
 ['Marius Fasie', datetime.date(2017, 10, 27), 12.139999999999999],
 ['Marius Fasie', datetime.date(2017, 10, 28), 4.47],
 ['Marius Fasie', datetime.date(2017, 10, 29), 5.91],
 ['Marius Fasie', datetime.date(2017, 10, 30), 5.16],
 ['Marius Fasie', datetime.date(2017, 10, 31), 9.77],
 ['Negulescu Irina', datetime.date(2017, 10, 2), 0.48],
 ['Negulescu Irina', datetime.date(2017, 10, 3), 0.13],
 ['Negulescu Irina', datetime.date(2017, 10, 4), 0.08],
 ['Negulescu Irina', datetime.date(2017, 10, 5), 0.01],
 ['Negulescu Irina', datetime.date(2017, 10, 9), 0.34],
 ['Negulescu Irina', datetime.date(2017, 10, 10), 0.39],
 ['Negulescu Irina', datetime.date(2017, 10, 11), 0.47],
 ['Negulescu Irina', datetime.date(2017, 10, 12), 0.03],
 ['Negulescu Irina', datetime.date(2017, 10, 13), 0.06],
 ['Negulescu Irina', datetime.date(2017, 10, 16), 0.03],
 ['Negulescu Irina', datetime.date(2017, 10, 17), 0.03],
 ['Negulescu Irina', datetime.date(2017, 10, 19), 0.02],
 ['Negulescu Irina', datetime.date(2017, 10, 23), 0.03],
 ['Negulescu Irina', datetime.date(2017, 10, 26), 0.03],
 ['Negulescu Irina', datetime.date(2017, 10, 30), 0.02],
 ['Negulescu Irina', datetime.date(2017, 10, 31), 0.02],
 ['Nicolescu Robert Mihai', datetime.date(2017, 10, 2), 8.31],
 ['Nicolescu Robert Mihai', datetime.date(2017, 10, 3), 8.129999999999999],
 ['Nicolescu Robert Mihai', datetime.date(2017, 10, 5), 7.879999999999999],
 ['Nicolescu Robert Mihai', datetime.date(2017, 10, 6), 8.149999999999999],
 ['Nicolescu Robert Mihai', datetime.date(2017, 10, 9), 8.21],
 ['Nicolescu Robert Mihai', datetime.date(2017, 10, 10), 8.530000000000001],
 ['Nicolescu Robert Mihai', datetime.date(2017, 10, 11), 8.25],
 ['Nicolescu Robert Mihai', datetime.date(2017, 10, 12), 7.67],
 ['Nicolescu Robert Mihai', datetime.date(2017, 10, 13), 8.51],
 ['Nicolescu Robert Mihai', datetime.date(2017, 10, 16), 8.22],
 ['Nicolescu Robert Mihai', datetime.date(2017, 10, 17), 8.29],
 ['Nicolescu Robert Mihai', datetime.date(2017, 10, 18), 8.24],
 ['Nicolescu Robert Mihai', datetime.date(2017, 10, 19), 7.61],
 ['Nicolescu Robert Mihai', datetime.date(2017, 10, 20), 10.14],
 ['Nicolescu Robert Mihai', datetime.date(2017, 10, 23), 9.95],
 ['Nicolescu Robert Mihai', datetime.date(2017, 10, 24), 6.89],
 ['Nicolescu Robert Mihai', datetime.date(2017, 10, 25), 9.26],
 ['Nicolescu Robert Mihai', datetime.date(2017, 10, 26), 5.45],
 ['Nicolescu Robert Mihai', datetime.date(2017, 10, 27), 5.09],
 ['Nicolescu Robert Mihai', datetime.date(2017, 10, 30), 2.34],
 ['Nicolescu Robert Mihai', datetime.date(2017, 10, 31), 8.35],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 2), 8.02],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 3), 8.1],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 4), 8.04],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 5), 8.1],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 6), 8.059999999999999],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 9), 7.92],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 10), 7.98],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 11), 8.059999999999999],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 12), 7.9399999999999995],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 13), 7.82],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 16), 8.129999999999999],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 17), 7.8500000000000005],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 18), 8.02],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 19), 7.84],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 20), 8.17],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 21), 8.08],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 23), 8.98],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 24), 8.03],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 25), 7.92],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 26), 8.010000000000002],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 27), 8.059999999999999],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 30), 8.100000000000001],
 ['Mateuca Mihai Alexandru', datetime.date(2017, 10, 31), 8.01],
 ['David Constantin Cosmin', datetime.date(2017, 10, 2), 9.05],
 ['David Constantin Cosmin', datetime.date(2017, 10, 3), 9.07],
 ['David Constantin Cosmin', datetime.date(2017, 10, 4), 9.06],
 ['David Constantin Cosmin', datetime.date(2017, 10, 5), 6.46],
 ['David Constantin Cosmin', datetime.date(2017, 10, 6), 9.08],
 ['David Constantin Cosmin', datetime.date(2017, 10, 9), 3.37],
 ['David Constantin Cosmin', datetime.date(2017, 10, 10), 9.1],
 ['David Constantin Cosmin', datetime.date(2017, 10, 11), 9.059999999999999],
 ['David Constantin Cosmin', datetime.date(2017, 10, 12), 9.03],
 ['David Constantin Cosmin', datetime.date(2017, 10, 13), 8.8],
 ['David Constantin Cosmin', datetime.date(2017, 10, 14), 7.7700000000000005],
 ['David Constantin Cosmin', datetime.date(2017, 10, 16), 5.41],
 ['David Constantin Cosmin', datetime.date(2017, 10, 17), 6.8500000000000005],
 ['David Constantin Cosmin', datetime.date(2017, 10, 18), 7.970000000000001],
 ['David Constantin Cosmin', datetime.date(2017, 10, 19), 3.32],
 ['David Constantin Cosmin', datetime.date(2017, 10, 20), 9.08],
 ['David Constantin Cosmin', datetime.date(2017, 10, 21), 7.73],
 ['David Constantin Cosmin', datetime.date(2017, 10, 22), 5.14],
 ['David Constantin Cosmin', datetime.date(2017, 10, 23), 5.359999999999999],
 ['David Constantin Cosmin', datetime.date(2017, 10, 24), 8.03],
 ['David Constantin Cosmin', datetime.date(2017, 10, 25), 9.04],
 ['David Constantin Cosmin', datetime.date(2017, 10, 26), 9.34],
 ['David Constantin Cosmin', datetime.date(2017, 10, 27), 8.98],
 ['David Constantin Cosmin', datetime.date(2017, 10, 28), 7.74],
 ['David Constantin Cosmin', datetime.date(2017, 10, 30), 3.31],
 ['David Constantin Cosmin', datetime.date(2017, 10, 31), 8.89],
 ['Oprea Georgiana', datetime.date(2017, 10, 2), 8.9],
 ['Oprea Georgiana', datetime.date(2017, 10, 3), 8.85],
 ['Oprea Georgiana', datetime.date(2017, 10, 4), 7.71],
 ['Oprea Georgiana', datetime.date(2017, 10, 5), 8.950000000000001],
 ['Oprea Georgiana', datetime.date(2017, 10, 6), 9.26],
 ['Oprea Georgiana', datetime.date(2017, 10, 10), 9.29],
 ['Oprea Georgiana', datetime.date(2017, 10, 11), 6.42],
 ['Oprea Georgiana', datetime.date(2017, 10, 12), 9.32],
 ['Oprea Georgiana', datetime.date(2017, 10, 13), 7.81],
 ['Oprea Georgiana', datetime.date(2017, 10, 14), 6.18],
 ['Oprea Georgiana', datetime.date(2017, 10, 16), 9.26],
 ['Oprea Georgiana', datetime.date(2017, 10, 17), 8.54],
 ['Oprea Georgiana', datetime.date(2017, 10, 18), 8.95],
 ['Oprea Georgiana', datetime.date(2017, 10, 19), 8.79],
 ['Oprea Georgiana', datetime.date(2017, 10, 20), 9.6],
 ['Oprea Georgiana', datetime.date(2017, 10, 21), 5.8],
 ['Oprea Georgiana', datetime.date(2017, 10, 23), 9.64],
 ['Oprea Georgiana', datetime.date(2017, 10, 24), 7.1899999999999995],
 ['Oprea Georgiana', datetime.date(2017, 10, 25), 8.87],
 ['Oprea Georgiana', datetime.date(2017, 10, 26), 8.52],
 ['Oprea Georgiana', datetime.date(2017, 10, 27), 7.41],
 ['Oprea Georgiana', datetime.date(2017, 10, 30), 8.79],
 ['Oprea Georgiana', datetime.date(2017, 10, 31), 9.23],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 2), 7.85],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 3), 7.930000000000001],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 4), 8.81],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 5), 8.91],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 6), 9.36],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 7), 6.2],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 11), 7.99],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 12), 7.66],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 13), 11.84],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 14), 7.65],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 15), 5.64],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 16), 11.15],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 17), 11.899999999999999],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 18), 10.81],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 19), 10.969999999999999],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 20), 6.18],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 21), 6.93],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 22), 6.83],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 23), 7.89],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 24), 8.1],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 25), 8.19],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 26), 10.56],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 27), 11.95],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 28), 8.09],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 29), 6.19],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 30), 7.82],
 ['Marcu Sorin Marius', datetime.date(2017, 10, 31), 7.18],
 ['Venete Marius', datetime.date(2017, 10, 2), 7.699999999999999],
 ['Venete Marius', datetime.date(2017, 10, 3), 7.51],
 ['Venete Marius', datetime.date(2017, 10, 4), 5.4399999999999995],
 ['Venete Marius', datetime.date(2017, 10, 6), 7.529999999999999],
 ['Venete Marius', datetime.date(2017, 10, 9), 7.629999999999999],
 ['Venete Marius', datetime.date(2017, 10, 10), 7.67],
 ['Venete Marius', datetime.date(2017, 10, 11), 7.65],
 ['Venete Marius', datetime.date(2017, 10, 12), 5.6899999999999995],
 ['Venete Marius', datetime.date(2017, 10, 13), 7.639999999999999],
 ['Venete Marius', datetime.date(2017, 10, 16), 7.57],
 ['Venete Marius', datetime.date(2017, 10, 17), 7.92],
 ['Venete Marius', datetime.date(2017, 10, 18), 7.7],
 ['Venete Marius', datetime.date(2017, 10, 19), 7.57],
 ['Venete Marius', datetime.date(2017, 10, 20), 7.890000000000001],
 ['Venete Marius', datetime.date(2017, 10, 23), 7.620000000000001],
 ['Venete Marius', datetime.date(2017, 10, 24), 6.609999999999999],
 ['Venete Marius', datetime.date(2017, 10, 25), 8.56],
 ['Venete Marius', datetime.date(2017, 10, 26), 7.63],
 ['Venete Marius', datetime.date(2017, 10, 27), 7.54],
 ['Venete Marius', datetime.date(2017, 10, 30), 7.66],
 ['Venete Marius', datetime.date(2017, 10, 31), 7.6],
 ['Dumitru Dragos', datetime.date(2017, 10, 2), 4.73],
 ['Dumitru Dragos', datetime.date(2017, 10, 3), 4.62],
 ['Dumitru Dragos', datetime.date(2017, 10, 4), 2.63],
 ['Dumitru Dragos', datetime.date(2017, 10, 5), 7.519999999999999],
 ['Dumitru Dragos', datetime.date(2017, 10, 6), 6.48],
 ['Dumitru Dragos', datetime.date(2017, 10, 9), 8.540000000000001],
 ['Dumitru Dragos', datetime.date(2017, 10, 10), 7.51],
 ['Dumitru Dragos', datetime.date(2017, 10, 11), 7.470000000000001],
 ['Dumitru Dragos', datetime.date(2017, 10, 12), 7.5],
 ['Dumitru Dragos', datetime.date(2017, 10, 13), 6.630000000000001],
 ['Dumitru Dragos', datetime.date(2017, 10, 16), 2.71],
 ['Modiga Catalina', datetime.date(2017, 10, 2), 9.07],
 ['Modiga Catalina', datetime.date(2017, 10, 3), 7.88],
 ['Modiga Catalina', datetime.date(2017, 10, 4), 7.710000000000001],
 ['Modiga Catalina', datetime.date(2017, 10, 5), 8.07],
 ['Modiga Catalina', datetime.date(2017, 10, 6), 8.12],
 ['Modiga Catalina', datetime.date(2017, 10, 7), 7.08],
 ['Modiga Catalina', datetime.date(2017, 10, 9), 8.11],
 ['Modiga Catalina', datetime.date(2017, 10, 10), 8.05],
 ['Modiga Catalina', datetime.date(2017, 10, 11), 8.06],
 ['Modiga Catalina', datetime.date(2017, 10, 12), 8.07],
 ['Modiga Catalina', datetime.date(2017, 10, 13), 7.720000000000001],
 ['Modiga Catalina', datetime.date(2017, 10, 14), 8.0],
 ['Modiga Catalina', datetime.date(2017, 10, 16), 5.94],
 ['Modiga Catalina', datetime.date(2017, 10, 17), 8.08],
 ['Modiga Catalina', datetime.date(2017, 10, 18), 7.77],
 ['Modiga Catalina', datetime.date(2017, 10, 23), 9.14],
 ['Modiga Catalina', datetime.date(2017, 10, 24), 9.13],
 ['Modiga Catalina', datetime.date(2017, 10, 25), 9.16],
 ['Modiga Catalina', datetime.date(2017, 10, 26), 9.08],
 ['Modiga Catalina', datetime.date(2017, 10, 27), 8.12],
 ['Modiga Catalina', datetime.date(2017, 10, 28), 8.0],
 ['Modiga Catalina', datetime.date(2017, 10, 30), 9.1],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 2), 7.69],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 3), 7.75],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 4), 7.789999999999999],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 5), 7.73],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 6), 7.87],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 9), 7.64],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 10), 8.07],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 11), 7.84],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 12), 3.27],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 16), 7.75],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 17), 7.6899999999999995],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 18), 8.73],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 19), 7.75],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 20), 7.8],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 21), 4.94],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 23), 9.809999999999999],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 24), 8.04],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 25), 8.06],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 26), 8.94],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 27), 7.73],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 28), 4.94],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 30), 7.71],
 ['Iordan Ana-Maria', datetime.date(2017, 10, 31), 7.68],
 ['Adina Popa', datetime.date(2017, 10, 2), 8.72],
 ['Adina Popa', datetime.date(2017, 10, 3), 7.75],
 ['Adina Popa', datetime.date(2017, 10, 4), 7.82],
 ['Adina Popa', datetime.date(2017, 10, 5), 7.640000000000001],
 ['Adina Popa', datetime.date(2017, 10, 6), 8.05],
 ['Adina Popa', datetime.date(2017, 10, 9), 8.690000000000001],
 ['Adina Popa', datetime.date(2017, 10, 10), 8.99],
 ['Adina Popa', datetime.date(2017, 10, 11), 8.629999999999999],
 ['Adina Popa', datetime.date(2017, 10, 12), 8.69],
 ['Adina Popa', datetime.date(2017, 10, 13), 7.68],
 ['Adina Popa', datetime.date(2017, 10, 16), 8.69],
 ['Adina Popa', datetime.date(2017, 10, 17), 8.690000000000001],
 ['Adina Popa', datetime.date(2017, 10, 18), 7.74],
 ['Adina Popa', datetime.date(2017, 10, 19), 7.48],
 ['Adina Popa', datetime.date(2017, 10, 20), 7.779999999999999],
 ['Adina Popa', datetime.date(2017, 10, 23), 7.74],
 ['Adina Popa', datetime.date(2017, 10, 24), 8.02],
 ['Adina Popa', datetime.date(2017, 10, 25), 7.68],
 ['Adina Popa', datetime.date(2017, 10, 26), 9.07],
 ['Adina Popa', datetime.date(2017, 10, 27), 7.67],
 ['Adina Popa', datetime.date(2017, 10, 30), 7.6899999999999995],
 ['Adina Popa', datetime.date(2017, 10, 31), 7.67],
 ['Sandu Gheorghe', datetime.date(2017, 10, 2), 7.68],
 ['Sandu Gheorghe', datetime.date(2017, 10, 3), 5.0],
 ['Sandu Gheorghe', datetime.date(2017, 10, 5), 9.66],
 ['Sandu Gheorghe', datetime.date(2017, 10, 6), 9.98],
 ['Sandu Gheorghe', datetime.date(2017, 10, 7), 8.24],
 ['Sandu Gheorghe', datetime.date(2017, 10, 9), 7.709999999999999],
 ['Sandu Gheorghe', datetime.date(2017, 10, 10), 4.92],
 ['Sandu Gheorghe', datetime.date(2017, 10, 11), 10.530000000000001],
 ['Sandu Gheorghe', datetime.date(2017, 10, 12), 9.620000000000001],
 ['Sandu Gheorghe', datetime.date(2017, 10, 13), 10.55],
 ['Sandu Gheorghe', datetime.date(2017, 10, 14), 6.54],
 ['Sandu Gheorghe', datetime.date(2017, 10, 15), 4.94],
 ['Sandu Gheorghe', datetime.date(2017, 10, 16), 7.69],
 ['Sandu Gheorghe', datetime.date(2017, 10, 17), 9.68],
 ['Sandu Gheorghe', datetime.date(2017, 10, 18), 10.56],
 ['Sandu Gheorghe', datetime.date(2017, 10, 19), 7.68],
 ['Sandu Gheorghe', datetime.date(2017, 10, 20), 9.65],
 ['Sandu Gheorghe', datetime.date(2017, 10, 21), 5.640000000000001],
 ['Sandu Gheorghe', datetime.date(2017, 10, 23), 7.7700000000000005],
 ['Sandu Gheorghe', datetime.date(2017, 10, 24), 8.01],
 ['Sandu Gheorghe', datetime.date(2017, 10, 25), 7.66],
 ['Sandu Gheorghe', datetime.date(2017, 10, 26), 9.72],
 ['Sandu Gheorghe', datetime.date(2017, 10, 27), 7.68],
 ['Sandu Gheorghe', datetime.date(2017, 10, 28), 7.879999999999999],
 ['Sandu Gheorghe', datetime.date(2017, 10, 29), 4.88],
 ['Sandu Gheorghe', datetime.date(2017, 10, 30), 7.68],
 ['Sandu Gheorghe', datetime.date(2017, 10, 31), 10.809999999999999],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 2), 8.969999999999999],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 3), 7.57],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 4), 8.0],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 5), 7.93],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 6), 9.02],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 7), 1.76],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 9), 9.02],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 10), 5.23],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 11), 7.6],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 12), 7.96],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 13), 10.72],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 14), 7.5],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 16), 8.87],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 17), 12.23],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 18), 10.0],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 19), 9.34],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 20), 3.12],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 21), 8.09],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 23), 9.97],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 24), 7.9399999999999995],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 25), 4.86],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 26), 8.94],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 27), 7.869999999999999],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 28), 3.72],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 30), 9.08],
 ['Balaceanu Sebastian', datetime.date(2017, 10, 31), 2.71],
 ['Cristea Nicoleta Ramona', datetime.date(2017, 10, 2), 6.44],
 ['Cristea Nicoleta Ramona', datetime.date(2017, 10, 3), 7.42],
 ['Cristea Nicoleta Ramona', datetime.date(2017, 10, 4), 7.7],
 ['Cristea Nicoleta Ramona', datetime.date(2017, 10, 5), 7.42],
 ['Cristea Nicoleta Ramona', datetime.date(2017, 10, 6), 7.529999999999999],
 ['Cristea Nicoleta Ramona', datetime.date(2017, 10, 9), 7.61],
 ['Cristea Nicoleta Ramona', datetime.date(2017, 10, 10), 7.47],
 ['Cristea Nicoleta Ramona', datetime.date(2017, 10, 11), 7.550000000000001],
 ['Cristea Nicoleta Ramona', datetime.date(2017, 10, 13), 4.91],

In [78]:
work_hour=pd.DataFrame(Final,columns=["Employee","Date","Active_Hour"])

In [79]:
work_hour

           Employee        Date  Active_Hour
0      Marius Fasie  2017-10-01         4.98
1      Marius Fasie  2017-10-02         8.85
2      Marius Fasie  2017-10-03        11.32
3      Marius Fasie  2017-10-04         9.01
4      Marius Fasie  2017-10-05         8.62
..              ...         ...          ...
946     Ralf Scroth  2017-10-17         0.02
947  Adrian Ionescu  2017-10-17         0.12
948  Adrian Ionescu  2017-10-19         0.03
949  Catalin Oancea  2017-10-20         0.06
950  Carmen Grigore  2017-10-31         0.07

[951 rows x 3 columns]